<!--
/**
 * Realex_Core extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Realex
 * @package    Realex_Core
 * @copyright  Copyright (c) 2015 StudioForty9
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category   Realex
 * @package    Realex_Core
 * @author     StudioForty9 <info@studioforty9.com>
 */
-->
<config>
    <tabs>
        <realex translate="label" module="realex_core">
            <label>Realex</label>
            <sort_order>150</sort_order>
        </realex>
    </tabs>

    <sections>
        <realex translate="label" module="realex_core">
            <label>Core</label>
            <tab>realex</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <account>
                    <label>Account Details</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <merchantid>
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </merchantid>

                        <secret translate="label">
                            <label>Shared Secret</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </secret>

                        <account translate="label">
                            <label>Account Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </account>

                        <amexAccount translate="label">
                            <label>American Express Account</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This field is required to process American Express</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </amexAccount>

                        <refundpwd translate="label">
                            <label>Refund Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </refundpwd>

                        <rebatepwd translate="label">
                            <label>Rebate Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rebatepwd>
                    </fields>
                </account>

                <test>
                    <label>Test Account Details</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>

                        <merchantid>
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </merchantid>

                        <secret translate="label">
                            <label>Shared Secret</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </secret>

                        <account translate="label">
                            <label>Account Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </account>
                    </fields>
                </test>

                <log>
                    <label>Logging</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </log>
            </groups>
        </realex>
    </sections>
</config>